body::-webkit-scrollbar {
  overflow: hidden;
  display: none;
}

body {
    margin: 0px;
}
/* It is the container part related to all  */
#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgb(3,117,172),rgb(106,148,197));
}

#text {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 10px;
    margin-top: 30px;
    font-family: inherit;
    color: purple ;
}

#timer_text {
    font-size: 2rem;
    color:white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#clock_container {
    position:relative;
    height: 40vh;
    width: 36vw;
    min-height: 270px;
    min-width: 600px;
    border: 4px dashed purple;
    border-radius: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    z-index:0;

    background-color:  rgb(13, 5, 97);
    
}

.timer {
    position: relative;
    height: 35%;
    width: 55%;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
/* animation related styles */
.glow::before , .glow::after{
    content: '';
    position:absolute;
    top: -8px;
    background: linear-gradient(45deg , #e6fb04 , #ff6600 , #00ff66 , #00ffff,
    #ff00ff , #ff0099 , #6e0dd0 , #ff3300 ,#099fff);
    background-size: 400%;
    width:calc(100% + 13px);
    height: calc(100% + 16px);
    z-index: -1;
    animation: animate 20s linear infinite;
}
@keyframes animate{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}
.glow::after{
    filter: blur(100px);
}

#btns {
    height: 14%;
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin-top: -70px;
}

#start_btn {
    border: 1px solid green;
    width: 85px;
    border-radius: 15px;
    color:green;
}

#start_btn:hover {
    background-color: green;
    color: white;
}

#stop_btn {
    border: 1px solid blue;
    width: 85px;
    border-radius: 15px;
    color: blue;
}

#stop_btn:hover {
    background-color:blue;
    color: white;
}

#reset_btn {
    border: 1px solid red;
    width: 85px;
    border-radius: 15px;
    color: red;
}

#reset_btn:hover {
    background-color: red;
    color: white;
}

.btn_text {
    font-size: 1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/* media query for responsiveness */
@media screen and (max-width: 520px){
    #clock_container {
    height: 40vh;
    width: 90vw;
    min-width: 0px;
    }   
    #timer_text {
        font-size: 1.5rem;
    }
    #text {
        font-size: 1.8rem;
        letter-spacing: 5px;
    }
    .btn_text {
        font-size: 0.8rem;
        width: 60px;
    }
}